@model eindwerk.Entities.Kennisgebieden

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Kennisgebieden</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorteOmschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorteOmschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LangeOmschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LangeOmschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoortKennisgebied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoortKennisgebied)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpecialisatieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
