@model IEnumerable<eindwerk.Entities.Prioriteit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._Prioriteit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._Prioriteit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrioriteitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrioriteitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrioriteitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
