@model eindwerk.Entities.Interventies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Interventies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complexiteit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complexiteit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meldingsdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meldingsdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Einddatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Einddatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verwachtteoplossingstermijn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verwachtteoplossingstermijn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OmschrijvingOplossing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OmschrijvingOplossing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoortInterventie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoortInterventie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bestel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bestel.BestelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personeels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personeels.PersoneelsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioriteit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioriteit.PrioriteitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toestel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toestel.ToestelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InterventieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
