@model IEnumerable<eindwerk.Entities.Personeelsleden>

@{
    ViewData["Title"] = "Techniekers";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1>Techniekers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GsmNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailadres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoortPersoneelslid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GsmNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailadres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoortPersoneelslid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersoneelsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersoneelsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersoneelsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
