@model IEnumerable<eindwerk.Entities.Interventies>

@{
    ViewData["Title"] = "EigenLijst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EigenLijst</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Meldingsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OmschrijvingOplossing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Einddatum)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Personeels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioriteit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toestel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toestel.Locatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     
            @foreach (var item in Model)
            {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Meldingsdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OmschrijvingOplossing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Einddatum)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Personeels.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioriteit._Prioriteit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toestel.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toestel.Locatie.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InterventieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InterventieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InterventieId">Delete</a>
            </td>
        </tr>
            }
        </tbody>
</table>
